@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

#cy {
  width: 100%;
  height: 100%;
}

.cy-loading {
  opacity: 0.6;
  filter: grayscale(0.2);
}
