name: Enable Auto Merge

on:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Enable Auto Merge
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr merge --auto --rebase "${{ github.event.pull_request.html_url }}"
